{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}




<div class="container my-4 ">

    <div class="container my-4 ">
        <h2 style="color:brown;">Get to know me here:</h2>
    </div>

    <table class="table mx-4 my-4">
        
        <tbody>
          <tr>
            <td>Name:</td>
            <td>Abhiram kamini</td>
          </tr>

          <tr>
            <td>Age:</td>
            <td>21</td>
          </tr>

          <tr>
            <td>Date of birth:</td>
            <td>06-03-2003</td>
          </tr>

          <tr>
            <td>Email:</td>
            <td>kaminiabhiram@yahoo.com</td>
          </tr>

          <tr>
            <td>Gender:</td>
            <td>Male</td>
          </tr>

          <tr>
            <td>Languages known:</td>
            <td>English, Hindi, Telugu, French, Sanskrit</td>
          </tr>

          <tr>
            <td>Address:</td>
            <td>Hyderabad, Telangana, 500035</td>
          </tr>

          <tr>
            <td>Hobbies:</td>
            <td>Playing video games, Reading books, Coding</td>
          </tr>
        
        </tbody>
    </table>

    <div class="container my-4 ">
        <h2 style="color:brown;">Qualifications:</h2>
    </div>

    <table class="table table-striped mx-4 my-4">
        

        <thead>
            <tr>
              <th scope="col">Qualification</th>
              <th scope="col">Institution</th>
              <th scope="col">Grade</th>
            </tr>
        </thead>

        <tbody>
            <tr>
              <td>B tech</td>
              <td>KL University Hyderabad</td>
              <td>9 CGPA</td>
            </tr>

            <tr>
              <td>Intermediate</td>
              <td>Narayna college Dilshuknagar</td>
              <td>89%</td>
            </tr>

            <tr>
                <td>Schooling</td>
                <td>Kendriya Vidyalaya</td>
                <td>73%</td>
              </tr>
           
        </tbody>

    </table>
</div>


{% endblock body %}
