{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 mx-0 ">
    <h2 style="color:brown;">My Achievements</h2>
</div>

<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">CEO of  KLH radio station</h5>
      <p class="card-text">
      As the CEO of KLH radio station, this person is responsible for overseeing the operations of the college radio station. This includes conducting various shows, managing a team of staff and volunteers, and ensuring that the station runs smoothly. In addition to managing the day-to-day operations of the station, the CEO must also make decisions about the future of the station, such as programming changes or investments in new equipment. Conflict resolution is also an important part of the job, as the CEO must be able to manage any issues that arise between staff members or with external partners. Overall, the CEO of KLH radio station must have strong leadership skills and a passion for radio broadcasting in order to be successful in this role.
      </p>
    </div>
</div>


<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">President Communication club at KLH</h5>
      <p class="card-text">
        Working as the President of the communication club at KL University Hyderabad. I work out to create awareness and let students understand the importance of
        communication by conducting various motivational talks and debate events thereby decreasing the gap and making sure that they are industry-ready.

      </p>
    </div>
</div>

<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">Vice President Coding club at KLH</h5>
      <p class="card-text">
        Worked at the coding club at KL Hyderabad and participated in developing the coding culture here at the university through various seminars, webinars and certification drives together with the club members.
        also worked on organising various fun events to increase my interest in coding for students and developing an interest in coding among many students outside academic learning.

      </p>
    </div>
</div>



<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">President sheild as Boy Scout</h5>
      <p class="card-text">
        <li>Secured President sheild award, which is the Highest award in the journey of boy scout.</li>
        <li>I worked for 5 years as a boy scout from junior level by attending various camps and participating in many social service activities.</li>
        <li>I was trained and certified under various skills such as cooking, Electronics, Higene maintainance, Electrician work and an important skill Firstaid.</li>
        <li>I took part in many social service activities such as working 60 hours for community service, cleaning the localities, Spreading awarness about washrooms and importance.</li>
      </p>
    </div>
</div>

<div class="card mx-4 my-4">
    <div class="card-body">
      <h5 class="card-title">Level A certificate in NCC</h5>
      <p class="card-text">
        <li>Secured Level A certificate as NCC cadate.</li>
        <li>I Proudly identify myself as a NCC cadet and commited to serve the country.</li>
        <li>I Was traine rigorously in body development, shooting, marching and parade as part of the training process.</li>
        <li>I attended 10 days camp in my 2nd year of programme and showcased all the skills i was trained for and particpated in a written test to get certified</li>
        
      </p>
    </div>
</div>



{% endblock body %}
