{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4">
  <h2 style="color:brown;">My Certfications</h2>
</div>

<div class="container  my-4">
  <p>

      <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#AIHealthID" aria-expanded="false" aria-controls="AIHealthID">
          Artificial Intelligence in Healthcare(Stanford)
        </button>


  </p>

  <div class="collapse gap-2 col-12 " id="AIHealthID">
      <div class="card card-body">
          <div class="list-group my-2"> 
              <ul>
                <li> <a href="https://www.coursera.org/account/accomplishments/verify/EGPBVHJXZRE5" target="_blank" class="list-group-item list-group-item-action">HealthCare Foundations</a></li>
                <li> <a href="https://www.coursera.org/account/accomplishments/verify/P5675RESELJE" target="_blank" class="list-group-item list-group-item-action">Understanding Clinical Data</a></li>
                <li> <a href="https://www.coursera.org/account/accomplishments/certificate/VN2DZTKWTPHZ" target="_blank" class="list-group-item list-group-item-action">Healthcare ML Project</a></li>
                <li> <a href="#" target="_blank" class="list-group-item list-group-item-action">AI Applications in Healthcare</a></li>
                <li> <a href="#" target="_blank" class="list-group-item list-group-item-action">AI healthcare Project</a></li>
              </ul>
          </div>
      </div>
  </div>

</div>

<div class="container  my-4">
  <p>

      <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#MLID" aria-expanded="false" aria-controls="MLID">
        Machine Learning and Deep Learning
        </button>

  </p>

  <div class="collapse gap-2 col-12 " id="MLID">
      <div class="card card-body">
          <div class="list-group my-2"> 
              <ul>
                <li> <a href="https://www.coursera.org/account/accomplishments/verify/R87BNXLLZJUM" target="_blank" class="list-group-item list-group-item-action">Machine Learning (Stanford)</a></li>
                <li>  <a href="https://www.coursera.org/account/accomplishments/verify/JR6JCEX72XSN" target="_blank" class="list-group-item list-group-item-action">Deep Neural Network</a></li>
                <li>  <a href="https://www.coursera.org/account/accomplishments/verify/6ZAMPCU26XMV" target="_blank" class="list-group-item list-group-item-action">Improving Deep Neural Networks</a></li>
                <li> <a href="https://www.coursera.org/account/accomplishments/certificate/PMRYYHZYC25U" target="_blank" class="list-group-item list-group-item-action">ML Project Structuring</a></li>
                <li> <a href="#" target="_blank" class="list-group-item list-group-item-action">Convolutional Neural Network</a></li>
                <li> <a href="#" target="_blank" class="list-group-item list-group-item-action">Sequence Models</a></li>
              </ul>
          </div>
      </div>
  </div>

</div>

<div class="container  my-4">
  <p>

      <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#AWSID" aria-expanded="false" aria-controls="AWSID">
        AWS for AI and ML (Amazon)
        </button>

  </p>

  <div class="collapse gap-2 col-12 " id="AWSID">
      <div class="card card-body">
          <div class="list-group my-2"> 
              <ul>
                <li><a href="https://www.credly.com/badges/2bd7a905-90be-4c38-897c-3b2e880f9c2c?source=linked_in_profile" target="_blank" class="list-group-item list-group-item-action">Cloud Foundations</a> </li>
                <li><a href="https://www.credly.com/badges/29ad51f6-0b9e-43bd-8b46-275c9a3977f8?source=linked_in_profile" target="_blank" class="list-group-item list-group-item-action">AI-ML Through Cloud</a> </li>
                <li> <a href="#" class="list-group-item list-group-item-action">Cloud Architect</a></li>

                
              </ul>
          </div>
      </div>
  </div>

</div>

<div class="container  my-4">
  <p>

      <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#ITID" aria-expanded="false" aria-controls="ITID">
        IT Skills
        </button>

  </p>

  <div class="collapse gap-2 col-12 " id="ITID">
      <div class="card card-body">
          <div class="list-group my-2"> 
              <ul>

                <li><a href="https://www.linkedin.com/learning/certificates/a40365255267dfd7330da2e64d029b17d38653294d99dea594e78a7290346873?trk=share_certificate" target="_blank" class="list-group-item list-group-item-action">JavaScript</a></li>
                <li> <a href="https://www.coursera.org/account/accomplishments/verify/4ANZZ2UH6NVY?utm_source=ln&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" target="_blank" class="list-group-item list-group-item-action">Python programming(University of Michigan)</a></li>
                <li><a href="https://www.coursera.org/account/accomplishments/verify/XZYY2Q5UDSZB" target="_blank" class="list-group-item list-group-item-action">Python for IT(Google)</a></li>
                <li><a href="https://www.linkedin.com/learning/certificates/d6686195da75451619d4ee3bc0e3b2cd3ab71cf0dd770937a68d41a6b9f246eb?u=89447330" target="_blank" class="list-group-item list-group-item-action">Git and GitHub</a></li>

              </ul>
          </div>
      </div>
  </div>

</div>













{% endblock body %}
