{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 ">
    <h2 style="color:brown;">My Work experiences</h2>
</div>


<div class="container my-4 ">
    <h4 style="color:rgb(104, 188, 163);">Internships</h2>
</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Software Development Intern (Sunplus data group)
            </button>

        </p>

        
            <div class="card card-body"><p><b>
                I worked at sunplus data group in my summer break after my sophmore year of undergrad.<br><br>
                I worked as a software development intern where my main job was to Work on front end development using HTML and CSS where I worked on the UI part of various appliations.<br><br>
                I learned Front end development, Working with dotnet development and enhancing user experience.<br><br>

                Internship duration 3 months (May 2022 to July 2022)
            </b></p></div>
        

</div>


<div class="container px-4 py-2">
    <p>

        <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work2" aria-expanded="false" aria-controls="Work2">
            Social media manager Intern (PIL gaming solutions)
        </button>

    </p>

    
        <div class="card card-body"><p><b>
            I worked at PIL gaming solutions in my freshmen year of undergrad.<br><br>
            I worked as Social media manager of PIL gaming solutions which started almost at time I joined, 
            I worked there to improve the engagement of company on social media and I worked on analyzing current market trends to provide insights to the company<br><br>
            I learned Better Social media management.<br><br>

            Internship duration 3 months (May 2022 to July 2022)
        </b></p></div>
    

</div>

{% endblock body %}
