{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 ">
    <h2 style="color:brown;">My Work experiences</h2>
</div>



<div class="container my-4 ">
    <h4 style="color:rgb(104, 188, 163);">Employment History</h4>
</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Real World Artificial Intelligence Engineer  (Techolution)
            </button>

        </p>


            <div class="card card-body"><p><b>

                As a Real-World AI Engineer at Techolution, I am dedicated to developing cutting-edge AI solutions that have a tangible impact on real-world applications.
                My role involves leveraging advanced AI technologies to solve complex problems and create innovative solutions that drive business success.
                I work closely with cross-functional teams to understand project requirements, design AI models, and deploy them in real-world environments.
                My passion for AI and technology drives me to constantly learn and explore new possibilities,
                ensuring that our solutions are at the forefront of innovation.</br></br>

                Employment duration  (Feb 2024-Working currently)
            </b></p></div>


</div>




<div class="container my-4 ">
    <h4 style="color:rgb(104, 188, 163);">Internships History</h4>
</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Python Developer Intern (Techolution)
            </button>

        </p>


            <div class="card card-body"><p><b>

                As a Python developer at Techolution, I'm responsible for creating and maintaining backend applications.
                I work closely with cross-functional teams, utilizing Python and related technologies like Django and flask.
                I prioritize staying updated with industry trends to ensure efficient solutions.
                I actively engage in code reviews and communication with stakeholders to drive project success and customer satisfaction.</br></br>

                Internship duration 6 months (Oct 2023 to Feb 2024)
            </b></p></div>


</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Software Development and mentoring Intern (Being Zero Pvt Ltd)
            </button>

        </p>


            <div class="card card-body"><p><b>
               As a mentor and developer at Being Zero, I craft challenging problems to boost problem-solving skills.
                Additionally, I've developed automated applications to streamline doubt resolution and reduce repetitive tasks,
                enhancing the learning experience for aspiring developers.</br></br>

                Internship duration 6 months (Jun 2023 to Oct 2023)
            </b></p></div>


</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Software Development Intern (Sunplus data group)
            </button>

        </p>

        
            <div class="card card-body"><p><b>
                In my role as a Data Analyst, I designed interactive dashboards to display data for specific applications.
                To achieve this, I utilized HTML, Python, and PowerBI technologies.
                HTML provided the structure and visual elements, Python was used for data processing and visualizations, and PowerBI facilitated
                interactivity. Through these efforts,
                I delivered data-driven insights to stakeholders in an effective and concise manner.</br></br>

                Internship duration 6 months (May 2022 to Nov 2022)
            </b></p></div>
        

</div>


<div class="container px-4 py-2">
    <p>

        <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work2" aria-expanded="false" aria-controls="Work2">
            Social media manager Intern (PIL gaming solutions)
        </button>

    </p>

    
        <div class="card card-body"><p><b>
            During my internship at PIL Gaming Solutions, I served as a Social Media Manager. This opportunity allowed me to gain valuable experience in social media analytics, including audience engagement and organic
reach. I developed my skills in data analysis and learned how to leverage data to improve performance.
As a result, my internship experience enhanced my overall understanding of social media management.</br></br>

            Internship duration 3 months (Jul 2021 - Oct 2021)
        </b></p></div>
    

</div>

{% endblock body %}
