{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 ">
    <h2 style="color:brown;">My Work experiences</h2>
</div>


<div class="container my-4 ">
    <h4 style="color:rgb(104, 188, 163);">Internships</h2>
</div>


<div class="container px-4 py-2">
        <p>

            <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work1" aria-expanded="false" aria-controls="Work1">
                Software Development Intern (Sunplus data group)
            </button>

        </p>

        
            <div class="card card-body"><p><b>
                In my role as a Data Analyst, I designed interactive dashboards to display data for specific applications.
                To achieve this, I utilized HTML, Python, and PowerBI technologies.
                HTML provided the structure and visual elements, Python was used for data processing and visualizations, and PowerBI facilitated
                interactivity. Through these efforts,
                I delivered data-driven insights to stakeholders in an effective and concise manner.</br></br>

                Internship duration 6 months (May 2022 to Nov 2022)
            </b></p></div>
        

</div>


<div class="container px-4 py-2">
    <p>

        <button class="btn btn-dark col-12" type="button" data-bs-toggle="collapse" data-bs-target="#Work2" aria-expanded="false" aria-controls="Work2">
            Social media manager Intern (PIL gaming solutions)
        </button>

    </p>

    
        <div class="card card-body"><p><b>
            During my internship at PIL Gaming Solutions, I served as a Social Media Manager. This opportunity allowed me to gain valuable experience in social media analytics, including audience engagement and organic
reach. I developed my skills in data analysis and learned how to leverage data to improve performance.
As a result, my internship experience enhanced my overall understanding of social media management.</br></br>

            Internship duration 3 months (Jul 2021 - Oct 2021)
        </b></p></div>
    

</div>

{% endblock body %}
