{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}



<div class="container my-4 ">
    <h2 style="color:brown;">Explore my creativity and expertise, welcome!</h2>
</div>

<div class="container my-4 ">

    {% load static %}

   <img src="https://drive.usercontent.google.com/download?id=1dmb0657Q-zNtAwoQuGavq0FgzZmsiwZx"  width="200" height="200" >
</div>

<div class="container my-4 ">
    <p style="font-size:20px;">
Hey there, I'm Abhiram Kamini, a Real-World AI Engineer. With a background in Artificial Intelligence and Data Science, I'm committed to developing cutting-edge AI solutions that make a tangible impact. My role involves leveraging advanced AI technologies to solve complex problems and drive innovation. Collaborating closely with cross-functional teams, I design and deploy AI models tailored to specific project requirements.
    <br><br>
At the core of my work is a passion for pushing the boundaries of AI and technology. I thrive on the challenge of understanding real-world problems and crafting solutions that deliver meaningful results. Constantly learning and exploring new possibilities, I ensure our solutions remain at the forefront of innovation, ready to tackle the evolving needs of the world.
    <br><br>
I'm driven by the belief that technology, when wielded responsibly, can be a powerful force for positive change. Through my role as a Real-World AI Engineer, I'm excited to contribute to this vision and make a lasting impact on society.

    </p>
    <a href="https://drive.google.com/file/d/1E91STaKo_pPl92vnes2MfFXcx3JHrK1C/view?usp=sharing" target="_blank">
        <button> Download Resume</button>
    </a>

    {% for post in file %}

    {% endfor %}




</div>





{% endblock body %}



