{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

{% load static %}

<div class="container my-4 ">
    <h2 style="color:brown;">Hello Welcome to my Blog</h2>
</div>

<div class="container my-4 ">
   <!--  <img src="{% static 'photo.png' %}" class="img-thumbnail"  width="200" height="200" >  -->
</div>

<div class="container my-4 ">
    <p style="font-size:20px;">This is Abhiram Kamini an undergrad student pursuing my degree with a major in Artificial Intelligence and Data Science. <br><br>

        I am not just a student who focuses on theoretical learning but I am someone who believes in overall development as a person with communication skills and hobbies and as an Engineer with practical knowledge, I aim to keep learning and evolving.<br><br>
        Technology has changed the world around us so much and it is rapidly growing where we have reached a stage where 
        <br><b>"with data from our mobile phones we can predict what is going on in our whole life"</b><br>
         so we need to put the right path for our coming generations to understand and protect that data. I aim to make use of the data properly and ethically in the field of AI.<br><br>
        
        I am a young passionate student pursuing my engineering degree in Artificial Intelligence is looking to gain much exposure to the real-world applications of the study I am pursuing, I don't just want to learn but also apply knowledge for a better cause and help society.
    </p>

    


    <a href="https://drive.google.com/file/d/1rzNAzCjv-qvKYmFJjkUvhfwJmQxq-WxQ/view?usp=sharing" target="_blank">
        <button> Download Resume</button>
    </a>

    {% for post in file %}

    {% endfor %}




</div>





{% endblock body %}



