{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}



<div class="container my-4 ">
    <h2 style="color:brown;">Explore my creativity and expertise, welcome!</h2>
</div>

<div class="container my-4 ">

    {% load static %}

   <img src="https://lh3.googleusercontent.com/drive-viewer/AAOQEOTbf5TIaWPy-wMmC6gQ09XMQoHZ008JUv8lPNf9BvGLiUU2U8Wt92kjfjWwHtO-Z3BE6SVHq_wf2SBVky8BV-gMjvh9xQ=s1600"  width="200" height="200" >
</div>

<div class="container my-4 ">
    <p style="font-size:20px;">
        My name is Abhiram Kamini and I am currently an undergraduate student majoring in Artificial Intelligence and Data Science. However, I do not limit myself to theoretical learning. I strive for personal growth, such as improving my communication skills and developing hobbies, while also gaining practical knowledge as an engineer. I believe in continuous learning and evolution.
</br></br>
With the rapid advancement of technology, we can now use data from our mobile phones to predict various aspects of our lives. This underscores the importance of properly understanding and protecting our data for future generations. As an aspiring AI professional, I aim to utilize data ethically and effectively in my work.
</br></br>
As a young and enthusiastic engineering student focused on AI, I am eager to gain exposure to the practical applications of my studies. My goal is not just to learn, but to apply my knowledge for the greater good and contribute to society.
    </p>

    


    <a href="https://drive.google.com/file/d/1ORsIC9JTOY_qMvq4hRsdeJAr1E-io-En/view?usp=sharing" target="_blank">
        <button> Download Resume</button>
    </a>

    {% for post in file %}

    {% endfor %}




</div>





{% endblock body %}



