{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container py-4 mx-2">
    <h2 style="color:brown;">My Projects</h2>
</div>

<div class="col-md-12 px-4 my-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Covid-19 Risk Calculator</h2>
      <p>
    Triage through machine learning is the concept of our project where we try to build a tool for doctors or primary health care provider where we take various input data parameters about our patient and feed them to our ML model to gain insight about patients in a situation of mass casualty or pandemic .
</br>Technologies: Python, Django, sqlite, Sklearn
       </p>
      <a href="https://github.com/abhiramk6/covid19-triage" target="_blank">
        <button class="btn btn-outline-light" type="button">Source Code</button>
      </a>    
    </div>
</div>

<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Attendance tracking with face identification</h2>
      <p>
       I am currently involved in the development of a face recognition application that can be used to track classroom attendance in educational institutions. The application is designed to use a camera to track attendance and can be easily implemented in classrooms.
</br>Technologies: Python, Face recognition, cv2

      </p>
      <a href="https://github.com/abhiramk6/FaceRec" target="_blank">
        <button class="btn btn-outline-light" type="button">Source Code</button>
      </a>
    </div>
</div>

<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Personal PortFolio</h2>
      <p>
        I have created and hosted my own portfolio where you can read about my background, skills, and experi- ence. Additionally, you can send me feedback or messages through the portfolio, and even download my resume. It serves as a comprehensive resource to showcase my professional profile and achievements.
    </br>Technologies: Python, Django, sqlite, CSS, HTML

      </p>
      <a href="/" target="_blank">
        <button class="btn btn-outline-light" type="button">Visit</button>
      </a>    
    </div>
</div>

<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Audio Digit Recognition System</h2>
      <p>
        I’m developing a Digit Recognition system that recognizes spoken digits and displays the output. The system uses advanced technologies like machine learning algorithms, speech recognition techniques, and data analysis tools.
</br>Technologies: Python, Kaldi


      </p>
    </div>
</div>

<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Student Examination Management</h2>
      <p>
        This is a student examination management system which is developed totally in c language, the main focus of the application is to assist examination departments by taking attendance fee payments as inputs and providing marks and pass status of students.
      </p>
      <a href="https://github.com/abhiramk6/student-examination-management" target="_blank">
        <button class="btn btn-outline-light" type="button">Source Code</button>
      </a>
    </div>
</div>


{% endblock body %}





