{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container py-4 mx-2">
    <h2 style="color:brown;">My Projects</h2>
</div>

<div class="col-md-12 px-4 my-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Covid-19 Risk Calculator</h2>
      <p>
        Triage through machine learning is the concept of our project where we try to build a tool for doctors or primary health care provider where we take various input data parameters about our patient and feed them to our ML model to gain insight about patients in a situation of mass casualty or pandemic.
      </p>
      <a href="https://github.com/abhiramk6/covid19-triage" target="_blank">
        <button class="btn btn-outline-light" type="button">Source Code</button>
      </a>    
    </div>
</div>

<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Student Examination Management</h2>
      <p>
        This is a student examination management system which is developed totally in c language, the main focus of the application is to assist examination departments by taking attendance fee payments as inputs and providing marks and pass status of students.
      </p>
      <a href="https://github.com/abhiramk6/student-examination-management" target="_blank">
        <button class="btn btn-outline-light" type="button">Source Code</button>
      </a>    
    </div>
</div>

<div class="col-md-12 py-4 px-4">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Personal PortFolio</h2>
      <p>
        Created and hosted my Portfolio Which you are currently accessing
      </p>
      <a href="/" target="_blank">
        <button class="btn btn-outline-light" type="button">Visit</button>
      </a>    
    </div>
</div>


{% endblock body %}





