{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<div class="container my-4 ">
    <h2 style="color:brown;">My Skills</h2>
</div>

<div class="container px-4 py-2">
<table class="table table-dark table-border">
    <thead>
        <tr>
          <th scope="col">Skill</th>
          <th scope="col">Category</th>
          <th scope="col">Experience(months)</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        <tr>
          <td>Machine learning</td>
          <td>Artificial intelligence</td>
          <td>35</td>
        </tr>
        <tr>
            <td>Tensorflow</td>
            <td>Artificial intelligence</td>
            <td>21</td>
        </tr>
        <tr>
            <td>Deep learning</td>
            <td>Artificial intelligence</td>
            <td>27</td>
        </tr>
        <tr>
            <td>Computer vision</td>
            <td>Artificial intelligence</td>
            <td>21</td>
        </tr>
        <tr>
            <td>Natural Language Processing</td>
            <td>Artificial intelligence</td>
            <td>21</td>
        </tr>
        <tr>
            <td>Data visualization</td>
            <td>Data science</td>
            <td>27</td>
        </tr>
        <tr>
            <td>Data Warehousing and mining</td>
            <td>Data science</td>
            <td>27</td>
        </tr>
        <tr>
            <td>Big data</td>
            <td>Data science</td>
            <td>21</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>Programming language</td>
            <td>39</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>Programming language</td>
            <td>39</td>
        </tr>
        <tr>
            <td>C programming</td>
            <td>Programming language</td>
            <td>45</td>
        </tr>
        <tr>
            <td>django</td>
            <td>Web development</td>
            <td>27</td>
        </tr>
        <tr>
            <td>Enterprise java development</td>
            <td>Web development</td>
            <td>27</td>
        </tr>
        <tr>
            <td>HTML,CSS</td>
            <td>Web development</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Database management</td>
            <td>IT skills</td>
            <td>31</td>
        </tr>
        <tr>
            <td>Computer Networking</td>
            <td>IT skills</td>
            <td>31</td>
        </tr>
        <tr>
            <td>Operating System Designing</td>
            <td>IT skills</td>
            <td>31</td>
        </tr>
        <tr>
            <td>Social media management</td>
            <td>Marketing</td>
            <td>55</td>
        </tr>
    </tbody>
</table>
</div>

{% endblock body %}
